<div class="form-group">
  <label for="state">Movements</label>
  <select class="form-control" id="state" (change)="onChange($event.target.value)" [(ngModel)]="selected" >
    <option *ngFor="let state of states" [value]="state.movement.uid">{{state.description}}</option>
  </select>
</div>

<div class="form-group">
  <label for="date">Date</label>
  <input class="form-control" id="date" [(ngModel)]="date"/>
</div>

<button (click)="update()">Update</button>

<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Depot</th>
    <th scope="col">Product</th>
    <th scope="col">Quantity</th>
    <th scope="col">Expiry</th>
  </tr>
  </thead>
  <tr *ngFor="let stock of stocks">
    <td>{{stock.uid}}</td>
    <td>{{stock.depot}}</td>
    <td>{{stock.product}}</td>
    <td>{{stock.quantity}}</td>
    <td>{{stock.expiry}}</td>
  </tr>
</table>
